@import url('https://fonts.googleapis.com/css?family=Merriweather|Roboto|Slabo+27px');

* { 
  margin: 0;
  padding: 0;
  font-family: Merriweather, Roboto, SlaboArial, Helvetica, sans-serif;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.bg-lightgray {
  background-color: lightgray;
}

.bg-lightblue {
  background-color: lightblue;
}

.bg-lightyellow {
  background-color: lightyellow;
}

.bg-lightgreen {
  background-color: lightgreen;
}

.container {
  display: block;
  margin: 0 auto;
}

.row {
  display: block;
}

.col-p-1, .col-m-1, .col-g-1, 
.col-p-2, .col-m-2, .col-g-2, 
.col-p-3, .col-m-3, .col-g-3, 
.col-p-4, .col-m-4, .col-g-4, 
.col-p-5, .col-m-5, .col-g-5, 
.col-p-6, .col-m-6, .col-g-6,
.col-p-7, .col-m-7, .col-g-7,
.col-p-8, .col-m-8, .col-g-8,
.col-p-9, .col-m-9, .col-g-9,
.col-p-10, .col-m-10, .col-g-10 {
  display: inline-block;
  position: relative;
  min-height: 1px;
  padding: 0 10px;
  float: left;
}

.col-p-10, .col-m-10, .col-g-10 {
  width: 100%;
}
.col-p-9, .col-m-9, .col-g-9 {
  width: 83.33333%;
}
.col-p-8, .col-m-8, .col-g-8 {
  width: 80%;
}
.col-p-7, .col-m-7, .col-g-7 {
  width: 75%;
}
.col-p-6, .col-m-6, .col-g-6 {
  width: 66.66667%;
}
.col-p-5, .col-m-5, .col-g-5 {
  width: 50%;
}
.col-p-4, .col-m-4, .col-g-4 {
  width: 33.33333%;
}
.col-p-3, .col-m-3, .col-g-3 {
  width: 25%;
}
.col-p-2, .col-m-2, .col-g-2 {
  width: 20%;
}
.col-p-1, .col-m-1, .col-g-1 {
  width: 16.66667%;
}

p { text-indent: 20px; text-align: justify; margin-top: 10px; }

nav { width: 100%; }

nav ul { list-style-type: none; }

nav ul li a { display: block; text-decoration: underline; text-align: center; word-wrap: break-word; }

nav.horizontal ul li a { display: inline-block; float: left; padding-right: 10px; word-wrap: break-word; }

nav.vertical ul li a { display: block; padding-top: 5px; padding-bottom: 5px; word-wrap: break-word; }

nav ul li a:hover { text-decoration: none; }

header {
  margin-bottom: 5px;
}

footer {
  margin-top: 5px;
}

img, video {
  display: block;
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.625em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.375em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1.125em;
}

table {
  background-color: transparent;
}

th {
  text-align: left;  
}

.table, .table-blue {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse !important;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td,
.table-blue > thead > tr > th,
.table-blue > tbody > tr > th,
.table-blue > tfoot > tr > th,
.table-blue > thead > tr > td,
.table-blue > tbody > tr > td,
.table-blue > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.table > thead > tr > th, .table-blue > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}

.table > tbody > tr:nth-of-type(odd) {
  background-color: #f5f5f5;
}

.table > tbody > tr:hover {
  background-color: #e0e0e0;
}

.table-blue > tbody > tr:nth-of-type(odd) {
  background-color: #DBEBF9;
}

.table-blue > tbody > tr:hover {
  background-color: #1F74B9;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

.radio-inline,
.checkbox-inline {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  vertical-align: middle;
  cursor: pointer;
}

.radio-inline input[type="radio"],
.checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-top: 4px;
  margin-left: -20px;
}

/* Telefone em landscape e abaixo */
@media (max-width: 480px) {
  .container {
    max-width: 480px;
  }
  
  .col-p-1, .col-p-2, .col-p-3, .col-p-4, .col-p-5, .col-p-6, .col-p-7, .col-p-8, .col-p-9, .col-p-10,
  .col-m-1, .col-m-2, .col-m-3, .col-m-4, .col-m-5, .col-m-6, .col-m-7, .col-m-8, .col-m-9, .col-m-10,
  .col-g-1, .col-g-2, .col-g-3, .col-g-4, .col-g-5, .col-g-6, .col-g-7, .col-g-8, .col-g-9, .col-g-10 {
    width: 100%;
  }
}

/* Telefone em landscape a tablet em portrait */
@media (min-width: 481px) and (max-width: 767px) {
  .container {
    max-width: 750px;
  }
  
  .col-p-1, .col-p-2, .col-p-3, 
  .col-m-1, .col-m-2, .col-m-3, 
  .col-g-1, .col-g-2, .col-g-3 {
    width: 25%;
  }
  
 .col-p-4, .col-p-5, .col-p-6,
 .col-m-4, .col-m-5, .col-m-6, 
 .col-g-4, .col-g-5, .col-g-6 {
    width: 50%;
  }
  
  .col-p-7, .col-p-8, .col-p-9, 
  .col-m-7, .col-m-8, .col-m-9,
  .col-g-7, .col-g-8, .col-g-9 {
    width: 75%;
  }
  
  .col-p-10, .col-m-10, .col-g-10 {
    width: 100%;
  }
}

/* Tablet em portrait a landscape e desktop */
@media (min-width: 768px) {
  .container {
    max-width: 990px;
  }  
}

.test-grid [class*="col-"] {
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid #D8D8D8;
}